# Tested on Python 3.11.2

# Data Extraction & Signal Processing
neurokit2>=0.2.7
numpy
pandas
scipy

# Machine Learning
scikit-learn>=1.2.0
xgboost
lightgbm
joblib

# Visualization
matplotlib
seaborn

# Utilities
tqdm
